<template>
  <div class="form-wrapper">
    <form @submit.prevent="submitForm">
      <div class="form-control" :class="{ invalid: !formIsValid }">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          placeholder="Enter email"
          v-model.trim="email"
          @blur="formValidate"
        />
      </div>
      <div class="form-control" :class="{ invalid: !formIsValid }">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          placeholder="Enter Password"
          ref="password"
          @blur="formValidate"
        />
      </div>
      <small style="float: right; color: red" v-if="!formIsValid"
        >Please enter a valid email and password.</small
      >
      <div class="form-control buttons">
        <button class="submit" type="submit">{{ submitButtonCap }}</button>
        <button type="button" @click="switchAuthMode">
          {{ switchModeButtonCap }}
        </button>
      </div>
    </form>
    <img src="/ajax-loader.gif" alt="loader" v-if="isLoading" />
    <p style="margin-top: 15px; color: red" v-if="!!error">
      Something went wrong!
    </p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: '',
      password: '',
      formIsValid: true,
      mode: 'login',
      isLoading: false,
      error: null
    };
  },
  computed: {
    submitButtonCap() {
      if (this.mode === 'login') {
        return 'Login';
      } else {
        return 'Signup';
      }
    },
    switchModeButtonCap() {
      if (this.mode !== 'login') {
        return 'Login instead';
      } else {
        return 'Signup instead';
      }
    }
  },
  methods: {
    async submitForm() {
      this.password = this.$refs.password.value;
      this.formIsValid = true;
      if (
        this.email === '' ||
        !this.email.includes('@') ||
        this.password.length < 6
      ) {
        this.formIsValid = false;
        return;
      }
      this.isLoading = true;

      const actionPayload = {
        email: this.email,
        password: this.password
      };

      try {
        if (this.mode === 'login') {
          await this.$store.dispatch('login', actionPayload);
        } else {
          await this.$store.dispatch('signup', actionPayload);
        }
        const redirectUrl = '/' + (this.$route.query.redirect || 'coaches');
        this.$router.replace(redirectUrl);
      } catch (err) {
        console.log('Something went wrong ', err.message);
        this.error = err.message || 'Failed to authenticate. Try later.';
      }

      this.isLoading = false;
    },
    switchAuthMode() {
      if (this.mode === 'login') {
        this.mode = 'signup';
      } else if (this.mode === 'signup') {
        this.mode = 'login';
      }
      this.formIsValid = true;
    },
    formValidate() {
      this.formIsValid = true;
    }
  }
};
</script>

<style scoped>
.form-wrapper {
  padding: 10px;
  /* background-color: white; */
  display: flex;
  height: 50vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form {
  margin: 10px 0;
  display: block;
  padding: 35px;
  border-radius: 12px;
  width: fit-content;
  background-color: white;
}
.form-control:nth-child(1) {
  display: block;
  padding-bottom: 15px;
}
.form-control input {
  margin-left: 10px;
  padding: 5px;
}
.form-control:nth-child(1) {
  margin-left: 31px;
}
button {
  display: inline-block;
  margin: 25px 8px 0;
  padding: 7px 20px;
  cursor: pointer;
}
.buttons {
  display: block;
  width: fit-content;
  margin: 0 auto;
}
.invalid input {
  border-color: red;
}
.invalid label {
  color: red;
}
</style>
