<template>
  <div>
    <h2>Error 404! Page not found!</h2>
    <div class="link">
      <router-link to="/coaches">Main</router-link>
    </div>
  </div>
</template>

<style scoped>
div {
  flex-direction: column;
  height: 50vh;
  display: flex;
  align-content: center;
  justify-content: center;
}
h2 {
  text-align: center;
  padding: 5rem 0 0;
}
.link {
  display: block;
  align-content: center;
}
.link a {
  display: block;
  margin: 1rem auto;
  text-align: center;
  text-decoration: none;
  color: darkred;
  font-size: 1.5rem;
  border: 2px solid red;
  width: fit-content;
  border-radius: 6px;
  padding: 5px 18px;
  transition: all 0.2s ease-in;
}
.link a:hover {
  background-color: red;
  color: white;
}
</style>
