<template>
  <div class="base-area" :class="area">
    {{ area }}
  </div>
</template>

<script>
export default {
  props: ['area']
};
</script>

<style scoped>
.base-area {
  font-size: 0.9rem;
  padding: 7px 15px;
  color: white;
  border-radius: 20px;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
}

.career {
  background-color: black;
}

.base-area:hover {
  box-shadow: 3px 3px 20px rgb(90, 90, 90);
}

.frontend {
  background-color: brown;
}

.backend {
  background-color: darkblue;
}
</style>
