<template>
  <header>
    <nav>
      <div class="title" @click="goHome"><h1>Find a Coach</h1></div>
      <ul>
        <li>
          <router-link to="/coaches">Coaches</router-link>
        </li>
        <li v-if="isLogedIn">
          <router-link to="/requests">Requests</router-link>
          <span class="requests-counter" v-if="hasRequests">{{
            requests
          }}</span>
        </li>
        <li v-else>
          <router-link to="/auth">Login</router-link>
        </li>
        <li v-if="isLogedIn">
          <a @click="logout">Logout</a>
        </li>
      </ul>
    </nav>
  </header>
</template>

<script>
export default {
  computed: {
    requests() {
      const count = this.$store.getters['requests/requestsCount'];
      // console.log('from theHeader count of requests asked ', count);
      return count;
    },
    hasRequests() {
      return this.requests > 0;
    },
    isLogedIn() {
      return this.$store.getters.isAuth;
    }
  },
  methods: {
    logout() {
      this.$store.dispatch('logout');
      this.$router.replace('/coaches');
    },
    goHome() {
      this.$router.replace('/coaches');
    }
  }
};
</script>

<style scoped>
header {
  color: white;
  height: 80px;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(31, 224, 231, 0.529),
    rgba(31, 231, 47, 0.529)
  );
  backdrop-filter: blur(2px);
  position: fixed;
  z-index: 1000;
}
nav {
  margin: 15px 10%;
  display: flex;
  /* width: 100%; */
  height: 100%;
  align-content: center;
  justify-content: space-between;
  /* border: 1px solid black; */
}
.title h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 50px;
}
.title:hover {
  cursor: pointer;
}
ul {
  /* border: 1px solid red; */
  /* width: 100%; */
  height: fit-content;
  float: right;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  align-content: center;
  /* padding: 15px; */
}
nav ul li {
  /* line-height: 30px; */
  height: fit-content;
  /* border: 1px solid black; */
  padding: 13px 20px;
  margin-left: 20px;
  position: relative;
}
nav ul li a {
  font-weight: 500;
  text-decoration: none;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.7);
}
a:active,
a:hover,
a.router-link-active {
  color: #ffffff;
}
.requests-counter {
  display: inline-block;
  background-color: rgb(218, 0, 0);
  color: white;
  padding: 0.5rem;
  line-height: 0.4rem;
  font-size: 12px;
  font-weight: 600;
  border-radius: 15px;
  position: absolute;
  top: 5px;
  left: 119px;
  transition: all 2s ease-out;
}
a {
  cursor: pointer;
}
</style>
