<template>
  <!-- <h3>Contact</h3> -->
  <section>
    <form @submit.prevent="sendMessage" method="post">
      <label for="email">Email adress</label>
      <input
        :class="{ 'input-error': isInvalid }"
        class="input-email"
        type="email"
        id="email"
        placeholder="Enter Email"
        v-model.trim="email"
        @blur="inputValidate"
      />
      <label for="message">Message</label>
      <textarea
        :class="{ 'input-error': isInvalid }"
        name="message"
        id="message"
        cols="30"
        rows="5"
        placeholder="Enter message"
        v-model.trim="msgBody"
        @blur="inputValidate"
      ></textarea>
      <p class="error-msg" v-if="isInvalid">Enter right email and message!</p>
      <input class="submit-btn" type="submit" value="Send" />
    </form>
  </section>
</template>

<script>
export default {
  props: ['id'],
  data() {
    return {
      email: '',
      msgBody: '',
      isInvalid: false
    };
  },
  methods: {
    inputValidate() {
      this.isInvalid = false;
    },
    sendMessage() {
      if (
        this.email === '' ||
        !this.email.includes('@') ||
        this.msgBody === ''
      ) {
        this.isInvalid = true;
        return;
      }
      const data = {
        id: this.id,
        msg: this.msgBody,
        email: this.email
      };
      this.$store.dispatch('requests/sendRequest', data);
      this.$router.push('/coaches');
    }
  }
};
</script>

<style scoped>
label {
  margin: 10px 0;
  display: block;
}
textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  line-height: 16px;
}
.input-email {
  padding: 7px 10px;
  width: 100%;
}
.submit-btn {
  padding: 7px 20px;
  margin-top: 10px;
}
.error-msg {
  color: red;
}
.input-error {
  border: 1px solid red;
}
</style>
