<template>
  <div>
    <h3>Requests recieved</h3>
    <template v-if="anyRequest">
      <div class="request" v-for="request in requests" :key="request.id">
        <h6>COACH ID: {{ request.coach }}</h6>
        <span
          ><strong> Email: </strong
          ><a :href="'mailto:' + request.userEmail">
            {{ request.userEmail }}
          </a>
        </span>
        <p>
          <strong>Message: </strong> <br />
          {{ request.message }}
        </p>
      </div>
    </template>
    <template v-else>
      <p>You don't have requests yet</p>
    </template>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isLoading: false
    };
  },
  computed: {
    requests() {
      return this.$store.getters['requests/requests'];
    },
    anyRequest() {
      return this.$store.getters['requests/requestsCount'];
    }
  },
  mounted() {
    this.loadRequests();
  },
  methods: {
    async loadRequests() {
      this.isLoading = true;
      try {
        await this.$store.dispatch('requests/fetchRequests');
      } catch (error) {
        console.log(error.message);
      }
      this.isLoading = false;
    }
  }
};
</script>

<style scoped>
.request {
  margin-bottom: 0.5rem;
  padding: 1rem 0;
}
.request + .request {
  border-top: 1px solid grey;
}
p {
  margin-top: 0.5rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
}
p strong {
  text-decoration: underline;
  line-height: 1.8rem;
}
.request span {
  display: block;
  padding-top: 1rem;
}
</style>
