<template>
  <div>
    <small>Coach Details</small>
    <h3>{{ fullName }}</h3>
    <p>{{ descr }}</p>
    <p>
      Hourly rate: <strong>${{ rate }}</strong>
    </p>
    <ul>
      <li v-for="area in areas" :key="area">
        <base-area :area="area">{{ area }}</base-area>
      </li>
    </ul>
    <router-link :to="contactLink">Contact</router-link>
    <router-view></router-view>
  </div>
</template>

<script>
import BaseArea from '../../components/partials/BaseArea.vue';

export default {
  components: {
    BaseArea
  },
  props: ['id'],
  data() {
    return {
      selectedCoach: null
    };
  },
  created() {
    this.selectedCoach = this.$store.getters['coaches/coaches'].find(
      coach => coach.id === this.id
    );
  },
  computed: {
    fullName() {
      return this.selectedCoach.firstName + ' ' + this.selectedCoach.lastName;
    },
    descr() {
      return this.selectedCoach.descr;
    },
    rate() {
      return this.selectedCoach.hourlyRate;
    },
    areas() {
      return this.selectedCoach.areas;
    },
    contactLink() {
      return '/coaches/' + this.id + '/contact';
    }
  }
};
</script>

<style scoped>
h3 {
  margin: 12px 0;
}
p {
  margin-bottom: 12px;
}
ul {
  margin: 10px 0;
  display: flex;
  list-style: none;
}
ul li {
  padding: 5px 0;
  margin-right: 18px;
}
</style>
