<template>
  <div>
    <h3 class="breadcrmb">Coaches</h3>
    <section>
      <coach-filter
        @change-filter="setFilters"
        :filter="activeFilters"
      ></coach-filter>
    </section>
    <section>
      <div class="control-buttons">
        <div>
          <button @click="resetFilters">Refresh</button>
        </div>
        <router-link
          class="login-link"
          to="/register"
          v-if="isLogedIn && !isCoach && !isLoading"
          >Register as a coach</router-link
        >
        <router-link
          class="login-link"
          to="/auth?redirect=register"
          v-if="!isLogedIn"
          >Login to Register as a Coach</router-link
        >
      </div>
      <h2>LIST OF COACHES {{ isCoach }}</h2>
      <div class="list" v-if="hasCoaches && !isLoading">
        <coach-item
          v-for="coach in filteredCoaches"
          :key="coach.id"
          :id="coach.id"
          :firstName="coach.firstName"
          :lastName="coach.lastName"
          :descr="coach.descr"
          :areas="coach.areas"
          :rate="coach.hourlyRate"
          type="ofline"
        ></coach-item>
      </div>
      <div class="loader" v-else-if="true">
        <img src="/ajax-loader.gif" alt="loader" width="35" height="35" />
      </div>
      <p v-else>NO ONLINE COACHES</p>
    </section>
  </div>
</template>

<script>
import CoachItem from '../../components/coaches/CoachItem.vue';
import CoachFilter from '../../components/coaches/CoachFilter.vue';
export default {
  components: {
    CoachItem,
    CoachFilter
  },
  data() {
    return {
      activeFilters: {
        frontend: true,
        backend: true,
        career: true
      },
      isLoading: false
    };
  },
  computed: {
    filteredCoaches() {
      const coaches = this.$store.getters['coaches/coaches'];
      return coaches.filter(coach => {
        if (this.activeFilters.frontend && coach.areas.includes('frontend')) {
          return true;
        }
        if (this.activeFilters.backend && coach.areas.includes('backend')) {
          return true;
        }
        if (this.activeFilters.career && coach.areas.includes('career')) {
          return true;
        }
        return false;
      });
    },
    hasCoaches() {
      const hasCoach = this.$store.getters['coaches/hasCoaches'];
      // console.log('from coachList hasCouches initiated... ', hasCoach);
      return hasCoach;
    },
    isCoach() {
      return this.$store.getters['coaches/isCoach'];
    },
    isLogedIn() {
      return this.$store.getters.isAuth;
    }
  },
  methods: {
    setFilters(updatedFilter) {
      this.activeFilters = updatedFilter;
    },
    async resetFilters() {
      this.activeFilters = {
        frontend: true,
        backend: true,
        career: true
      };
    }
  },
  async mounted() {
    if (this.$store.getters.isAuth) {
      try {
        await this.$store.dispatch('requests/fetchRequests');
      } catch (error) {
        console.log(error.message);
      }
    }
  }
};
</script>

<style scoped>
.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
h2 {
  text-align: center;
  margin: 1.5rem 0 0.5rem 0;
}
.control-buttons {
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}
.control-buttons a {
  display: block;
}
.control-buttons button {
  padding: 7px 20px;
}
.login-link {
  text-decoration: none;
  color: black;
  border-radius: 8px;
  padding: 8px 25px 4px;
  background-color: rgb(25, 83, 44);
  transition: all 0.3s ease-out;
  color: white;
}
.login-link:hover {
  background-color: rgb(40, 125, 128);
}
.loader {
  height: 50vh;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
</style>
