<template>
  <section>
    <div class="loading-gif" v-if="isLoading">
      <img src="/ajax-loader.gif" alt="loading..." />
    </div>
    <div class="message" v-else-if="!isLoading && isCoach">
      <p>
        You already registred as coach <strong> {{ userId }} </strong>
      </p>
    </div>
    <div v-else-if="!isLoading && !isCoach">
      <h3>Register as a coach now!</h3>
      <coach-form @save-data="saveData"></coach-form>
    </div>
  </section>
</template>

<script>
import CoachForm from '../../components/coaches/CoachForm.vue';
export default {
  components: {
    CoachForm
  },
  data() {
    return {
      isLoading: false
    };
  },
  computed: {
    userId() {
      return this.$store.getters.userId;
    },
    isCoach() {
      return this.$store.getters['coaches/isCoach'];
    }
  },
  methods: {
    async saveData(data) {
      await this.$store.dispatch('coaches/registerCoach', data);
      this.$router.replace('/coaches');
    }
  }
};
</script>

<style scoped>
h3 {
  margin-bottom: 1rem;
}
[v-cloak] {
  display: none;
}
[v-cloak] > * {
  display: none;
}
</style>
