<template>
  <the-header></the-header>
  <div class="container">
    <div class="main">
      <router-view v-slot="slotProps">
        <transition name="route" mode="out-in">
          <component :is="slotProps.Component"></component>
        </transition>
      </router-view>
    </div>
  </div>
</template>

<script>
import TheHeader from './components/partials/TheHeader.vue';
export default {
  components: {
    TheHeader
  },
  created: function() {
    // console.log('from App tried to login...');
    this.$store.dispatch('tryLogin');
    this.$store.dispatch('coaches/loadCoaches', { forceRefresh: false });
  },
  mounted: async function() {
    if (this.$store.getters.isAuth) {
      try {
        await this.$store.dispatch('requests/fetchRequests');
      } catch (error) {
        console.log(error.message);
      }
    }
    try {
      await this.$store.dispatch('coaches/loadCoaches', {
        forceRefresh: false
      });
    } catch (error) {
      console.log(error);
    }
  },
  computed: {
    didAutoLogout() {
      return this.$store.getters.didAutoLogout;
    }
  },
  watch: {
    didAutoLogout(curVal, oldVal) {
      if (curVal && curVal !== oldVal) {
        this.$router.replace('/coaches');
      }
    }
  }
};
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-image: linear-gradient(
    to right top,
    rgba(46, 46, 46, 1),
    rgba(32, 32, 32, 1)
  );
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  padding-top: 100px;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 8rem;
}
.main {
  margin-top: 3rem;
  padding: 20px;
  border-radius: 12px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease-out;
}
@media only screen and (max-width: 1200px) {
  .main {
    width: 80%;
  }
}

.route-enter-from {
  opacity: 0;
  transform: translateY(-30px);
}

.route-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.route-enter-active {
  transition: all 0.3s ease-out;
}

.route-leave-active {
  transition: all 0.3s ease-in;
}

.route-enter-to,
.route-leave-from {
  opacity: 1;
  transform: translateY(0px);
}
</style>
