<template>
  <h2>Sort your Coaches</h2>
  <span class="filter_control">
    <input
      type="checkbox"
      id="frontend"
      :checked="filter.frontend"
      @change="setFilter"
    />
    <label for="frontend">Frontend</label>
  </span>
  <span class="filter_control">
    <input
      type="checkbox"
      id="backend"
      :checked="filter.backend"
      @change="setFilter"
    />
    <label for="backend">Backend</label>
  </span>
  <span class="filter_control">
    <input
      type="checkbox"
      id="career"
      :checked="filter.career"
      @change="setFilter"
    />
    <label for="career">Career</label>
  </span>
</template>

<script>
export default {
  emits: ['change-filter'],
  props: ['filter'],
  methods: {
    setFilter(event) {
      const inputId = event.target.id;
      const isActive = event.target.checked;
      const updatedFilter = {
        ...this.filter,
        [inputId]: isActive
      };
      this.filters = updatedFilter;
      this.$emit('change-filter', updatedFilter);
    }
  }
};
</script>

<style scoped>
h2 {
  margin: 0.5rem 0;
}
.filter_control {
  margin-right: 1rem;
  display: inline-block;
  padding-bottom: 0.5rem;
}
.filter_control label,
.filter_control input {
  vertical-align: middle;
}
.filter_control label {
  margin-left: 0.25rem;
}
.filter_control.active label {
  font-weight: bold;
}
</style>
