<template>
  <div class="wrapper">
    <form @submit.prevent="submitForm">
      <div class="form-control">
        <label :class="firstName.isValid ? '' : 'invalidLabel'" for="firstName"
          >First Name</label
        >
        <input
          :class="firstName.isValid ? '' : 'invalid'"
          type="text"
          id="firstName"
          placeholder="Enter first name"
          v-model.trim="firstName.val"
          @blur="clearValidity('firstName')"
        />
      </div>
      <div class="form-control">
        <label :class="lastName.isValid ? '' : 'invalidLabel'" for="lastName"
          >Last Name</label
        >
        <input
          :class="lastName.isValid ? '' : 'invalid'"
          type="text"
          id="lastName"
          placeholder="Enter last name"
          v-model.trim="lastName.val"
          @blur="clearValidity('lastName')"
        />
      </div>
      <div class="form-control">
        <label :class="descr.isValid ? '' : 'invalidLabel'" for="descr"
          >Description</label
        >
        <textarea
          :class="descr.isValid ? '' : 'invalid'"
          name="descr"
          id="descr"
          rows="5"
          placeholder="Enter description"
          v-model.trim="descr.val"
          @blur="clearValidity('descr')"
        ></textarea>
      </div>
      <div class="form-control">
        <label :class="rate.isValid ? '' : 'invalidLabel'" for="rate"
          >Hourly Rate</label
        >
        <input
          :class="rate.isValid ? '' : 'invalid'"
          type="number"
          min="1"
          id="rate"
          placeholder="Enter rate"
          v-model.number="rate.val"
          @blur="clearValidity('rate')"
        />
      </div>
      <div class="checkbox-control">
        <h4 :class="areas.isValid ? '' : 'invalidLabel'">
          Areas of Expertise
        </h4>
        <div>
          <input
            type="checkbox"
            id="frontend"
            value="frontend"
            v-model="areas.val"
            @blur="clearValidity('areas')"
          />
          <label for="frontend">Frontend Development</label>
        </div>
        <div>
          <input
            type="checkbox"
            id="backend"
            value="backend"
            v-model="areas.val"
            @blur="clearValidity('areas')"
          />
          <label for="backend">Backend Development</label>
        </div>
        <div>
          <input
            type="checkbox"
            id="career"
            value="career"
            v-model="areas.val"
            @blur="clearValidity('areas')"
          />
          <label for="career">Career Advisory</label>
        </div>
      </div>
      <button>Register</button>
    </form>
  </div>
</template>

<script>
export default {
  emits: ['save-data'],
  data() {
    return {
      firstName: {
        val: '',
        isValid: true
      },
      lastName: {
        val: '',
        isValid: true
      },
      descr: {
        val: '',
        isValid: true
      },
      rate: {
        val: null,
        isValid: true
      },
      areas: {
        val: [],
        isValid: true
      },
      formIsValid: true
    };
  },
  methods: {
    clearValidity(input) {
      this[input].isValid = true;
    },
    validateForm() {
      if (this.firstName.val === '') {
        this.firstName.isValid = false;
        this.formIsValid = false;
      }
      if (this.lastName.val === '') {
        this.lastName.isValid = false;
        this.formIsValid = false;
      }
      if (this.descr.val === '') {
        this.descr.isValid = false;
        this.formIsValid = false;
      }
      if (!this.rate.val || this.rate.val < 0) {
        this.rate.isValid = false;
        this.formIsValid = false;
      }
      if (this.areas.val.length === 0) {
        this.areas.isValid = false;
        this.formIsValid = false;
      } // this.formIsValid = false;
    },
    submitForm() {
      this.formIsValid = true;
      this.validateForm();

      if (!this.formIsValid) {
        return;
      }

      const formData = {
        first: this.firstName.val,
        last: this.lastName.val,
        descr: this.descr.val,
        rate: this.rate.val,
        areas: this.areas.val
      };
      this.$emit('save-data', formData);
    }
  }
};
</script>

<style scoped>
.wrapper {
  display: flex;
  align-content: center;
  /* background-color: aqua; */
  flex-direction: column;
}
form {
  width: 70%;
  margin: 0 auto;
}
form button {
  padding: 0.5rem 1rem;
  float: right;
  margin: 1rem 0;
}
.wrapper h3 {
  margin-bottom: 1rem;
}
.form-control {
  margin: 1rem 0;
}
.form-control label {
  /* width: 100%; */
  display: block;
  margin-bottom: 0.5rem;
}
.form-control input {
  width: 100%;
  padding: 0.25rem;
}
.form-control textarea {
  width: 100%;
}
.checkbox-control h4 {
  border-bottom: 1px solid black;
  margin-bottom: 0.5rem;
}
.checkbox-control div {
  display: inline-block;
  padding: 0.5rem;
}
.checkbox-control label {
  margin-left: 0.25rem;
}
.invalid {
  border: 1px solid red;
}
.invalidLabel {
  color: red;
}
</style>
