<template>
  <div class="item-wrapper" :class="id === currentUser ? 'online' : 'offline'">
    <router-link :to="contactLink" class="contact">Contact</router-link>
    <router-link :to="showLink">
      <h2>{{ firstName }} {{ lastName }}</h2>
    </router-link>
    <p>{{ descr }}</p>
    Hourly Rate: <strong>${{ rate }}</strong>
    <ul>
      <li v-for="area in areas" :key="area">
        <base-area :area="area">{{ area }}</base-area>
      </li>
    </ul>
    <div class="qrcode">
      <img src="qrcode_test.png" alt="" width="80" />
    </div>
  </div>
</template>

<script>
import BaseArea from '../partials/BaseArea.vue';
export default {
  props: ['id', 'firstName', 'lastName', 'areas', 'descr', 'rate', 'type'],
  components: { BaseArea },
  computed: {
    showLink() {
      return this.$route.path + '/' + this.id;
    },
    contactLink() {
      return this.$route.path + '/' + this.id + '/contact';
    },
    currentUser() {
      return this.$store.getters.userId;
    }
  }
};
</script>

<style scoped>
.item-wrapper {
  padding: 20px;
  margin: 15px auto;
  width: 70%;
  min-height: 160px;
  box-shadow: 6px 6px 20px rgba(33, 33, 33, 0.2);
  border-radius: 12px;
  transition: all 0.3s ease-out;
  position: relative;
}

.offline {
  background-image: linear-gradient(
    to right top,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.9)
  );
}

.online {
  background-image: linear-gradient(
    to right top,
    rgba(255, 155, 255, 0.5),
    rgba(255, 255, 155, 0.9)
  );
}

.item-wrapper:hover {
  transform: scale(1.05);
}
p {
  margin: 5px 0;
}
ul {
  margin-top: 10px;
  display: flex;
  list-style: none;
}
ul li {
  padding: 5px 0;
  margin-right: 18px;
  z-index: 1;
}
a {
  text-decoration: none;
  color: black;
}
a.contact {
  font-size: 18px;
  border-radius: 18px;
  float: right;
  padding: 7px 20px;
  transition: all 0.3s ease-out;
}
a.contact:hover,
a.contact:active {
  background-color: rgb(45, 197, 113);

  color: white;
}
@media only screen and (max-width: 1000px) {
  .item-wrapper {
    width: 90%;
  }
}
.qrcode {
  position: absolute;
  right: 30px;
  top: 60px;
  z-index: 0;
}
.qrcode:hover {
  cursor: pointer;
}
</style>
